.outerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.innerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

h2 {
    text-align: center;
}

#note {
    color: blueviolet;
    font-size: large;
}

.inputTypes {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px;
    margin: 5px;
    cursor: pointer;
}

.inputTypes button:hover {
    background-color: aquamarine;
    transition: all;
}

.strMethods {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnForFunction {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.btnForFunction button {
    margin: 8px;
    padding: 12px;
    font-size: large;
    cursor: pointer;
}

.btnForFunction button:hover {
    background-color: aquamarine;
    transition: all;
}